/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
	.lwd_title {
		text-align: center;
		text-decoration: solid;
	}
	
	.lwd_table	{
		font-family: arial, sans-serif;
		color: black;
		background-color: white;
		border: none;
		border-collapse: collapse;
		table-layout: auto;
		margin-left: auto;
		margin-right: auto;
	}

	.lwd_cell {
		padding: 0px 0px 0px 20px;
		text-align: left;
		border: none;
	}
