/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
	.lwd_title {
		text-align: center;
		text-decoration: solid;
	}
	
	.lwd_table	{
		border: none;
		border-collapse: collapse;
		table-layout: auto;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: auto;
		margin-right: auto;
	}

	.lwd_cell {
		padding: 0px 0px 0px 20px;
		text-align: left;
		border: 0px solid black;
	}
	.lwd_cell2 {
		padding: 0px 0px 0px 0px;
		text-align: center;
		border: none;
	}
	.lwd_row2 {
		background-color: lightgray;
		border: 1px solid black;
		padding: 0px 10px 0px 10px;
		margin:  10px 10px 20px 10px;
		text-align: center;
		text-decoration: solid;
	}
